<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>154FC5C1-E9B2-4F70-96FD-E63548AD4522</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>invest</string>
			<key>text</key>
			<string>Investopedia</string>
			<key>url</key>
			<string>https://www.investopedia.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3C340C19-8F74-4A7B-A426-7642C411CB6B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Search npm for ...</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4F45C4FF-EF9D-40E7-9840-69FB377D10A7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gi</string>
			<key>text</key>
			<string>Github Repo</string>
			<key>url</key>
			<string>https://github.com/search/?q={query}&amp;type=Repositories</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>55DE27D0-0D91-4216-9BCF-DC34820407C2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>web</string>
			<key>text</key>
			<string>MDN web docs</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5A4B2FA5-AC45-46F9-A2A4-F38CEEEAB2E5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sy</string>
			<key>text</key>
			<string>Synonymer.se</string>
			<key>url</key>
			<string>https://www.synonymer.se/sv-syn/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>743E453C-9F41-4148-8E8C-F947BF64AED5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hi</string>
			<key>text</key>
			<string>hitta.se</string>
			<key>url</key>
			<string>https://www.hitta.se/vem-ringde/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BF9E2064-C84D-4D03-BBC8-C583EEBD2FCE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pr</string>
			<key>text</key>
			<string>prisjakt.se</string>
			<key>url</key>
			<string>https://www.prisjakt.nu/search?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E1ACB275-7600-4CE7-B12D-B80901F50859</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ux</string>
			<key>text</key>
			<string>StackExchange UX</string>
			<key>url</key>
			<string>https://ux.stackexchange.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EAF0C2BD-FD5B-413A-8844-0DF4A6575049</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ord</string>
			<key>text</key>
			<string>Sök i ordboken (SAOB)</string>
			<key>url</key>
			<string>https://www.saob.se/artikel/?seek={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F204D346-9741-4FAA-BCFD-A6561E6C8A3D</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>invest</string>
			<key>text</key>
			<string>Investopedia</string>
			<key>url</key>
			<string>https://www.investopedia.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
